/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
} */
#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  width: 60vw;
}

body{
  background-color:whitesmoke;
}
.arrow{
  flex-grow: 1;
}
.right-arrow{
  transform: scaleX(-1);
}
main{
  display: flex;
  justify-content: center;
  flex-grow: 3;
}
.main-img{
  width: 400px;
  height: 400px;
  flex-grow: 9;
}
.thumnails{
  flex-grow: 1;
  margin-left: 50px;
}

.thumbnail-img{
  width: 100px;
  height: 100px;
}




