<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BookList</title>
  </head>
  <body>
    <h1>BookList</h1>
    <ul>
        <% books.forEach(item =>{%>
          <li><%=item.book_name%></li>
        <%})%>
    </ul>
  </body>
</html>